.dark-mode {
    background-color: darken($grisOscuro, 10);

    a,h1,h2,h3, h4 {
        color: $blanco;
    }

    p {
        color: $gris;
    }

    .anuncio {
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;

        .precio {
            color: $verde;
        }

        .icono {
            filter: invert(100%);
        }
    }

    
}