.barra {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-between;
    }

    .logo-header {
        max-width: 100%;
        width: 28rem;
        height: auto;

    }
}

.navegacion {

    display: none;

    @include tablet {
        display: flex;
        align-items: center;
    }

    a {
        color: $blanco;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;
        
        @include tablet {
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }

        &:hover {
            color: $verde;
        }
    }
}


.mobile-menu  {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.mostrar {
    display: block;
}

